/**
 * 3.0 Basic Structure
 * -----------------------------------------------------------------------------
 */

.site {
	background-color: #333;
  margin: 0 auto; // centering layout 
	max-width: 1260px;
	position: relative;
}

.main-content {
	width: 100%;
}

.overlay-search {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
}
