/**
 * 6.0 Content
 * -----------------------------------------------------------------------------
 */

.content-area {
	padding-top: 0; /* 48px */
}

.hentry {
	margin: 0 auto 48px;
	max-width: 672px;
  padding-bottom: 48px;
}

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
	margin: 0 auto;
	max-width: 100%; /* 474px; */
}

.page-content {
	margin-bottom: 48px;
}
