@media screen and (min-width: 1080px) {
	.search-box .search-field {
		// width: 324px;
    width: 100%;
    padding: 10px 20px;
	}

	.site-content,
	.site-main .widecolumn {
		// margin-left: 222px;
	}

	.site:before {
		// width: 222px;
	}

	.search-box-wrapper,
	.featured-content {
		// padding-left: 222px;
	}

	#secondary {
		width: 162px;
	}

	.secondary-navigation,
	.secondary-navigation ul ul {
		// width: 222px;
	}

	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul {
		left: 202px;
	}

	.slider .featured-content .entry-title {
		font-size: 33px;
	}

	.slider .featured-content .entry-header,
	.slider-control-paging {
		width: 534px;
	}

	.slider-control-paging {
		padding-left: 24px;
	}

	.slider-control-paging li {
		margin: 12px 12px 12px 0;
	}

	.slider-control-paging a {
		height: 24px;
		width: 24px;
	}

	.slider-control-paging a:before {
		top: 6px;
		left: 6px;
	}
}
