.border-boxed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.spaced-wrap {
  margin-left: -5px;
  margin-right: -5px;
}

.spaced-item {
  padding-left: 5px;
  padding-right: 5px;
}

.drow {
  @extend .border-boxed;

  &::after, &::before {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.form-horizontal {
  @extend .drow;
  @extend .spaced-wrap;

  .form-group {
    @extend .border-boxed;
    @extend .spaced-item;
    float: none;
    position: relative;
    width: 100%;

    @media screen and (min-width: 1008px) {
      float: left;
      width: 33.333333%;
    }
  }
}


.related-posts {
  @extend .drow;
  background-color: #111;

  .item-wrap {
    @extend .border-boxed;
    float: none;
    position: relative;
    width: 100%;

    &:hover {
      opacity: 0.6;
    }


    @media screen and (min-width: 594px) {
      float: left;
      width: 33.3333333%;
    }

    @media screen and (min-width: 846px) {
      float: left;
      width: 25%;
    }

    @media screen and (min-width: 1008px) {
      float: left;
      width: 20%;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    .title {
      // background: url('images/pattern-dark.svg') repeat scroll top center #000;
      background: none repeat scroll top center #000;
      bottom: 10px;
      color: #fff;
      margin: 0;
      padding: 10px;
      position: absolute;

      a {
        color: #fff;
      }
    }
  }
}

article {
  position: relative;

  &.post {
    background-color: #000;
  }
}

.social-icons {
  background-color: $main-color;
  bottom: -24px;
  display: none;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  padding: 5px;
  text-align: center;
  width: 200px;

  @media screen and (min-width: 414px) {
    bottom: -20px;
    padding: 10px;
    display: block;
  }

  .social-link {
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    padding: 0 10px;

    @media screen and (min-width: 414px) {
      font-size: 1em;
      padding: 0 5px;
    }
  }
}

.section-title {
  font-weight: 300;
  margin: 20px 0;
  padding: 0;
  text-align: center;
  text-transform: none;
}

input,
textarea {
  background-color: #333;
	background-image: none;
  color: #fff;
}

.post-thumbnail-wrap {
  float: none;
  width: 100%;

  @media screen and (min-width: 784px) {
    float: left;
    position: relative;
    width: 60%;
  }
}

.content-text-wrap {
  float: none;
  width: 100%;

  @media screen and (min-width: 784px) {
    float: right;
    position: relative;
    width: 40%;
  }
}


.photo-details {
  font-size: 11px;
  margin-left: 0;

  &>li {
    margin-bottom: 20px;
  }

  a {
    background-color: $main-color;
    border-radius: 3px;
    color: #fff;
    padding: 3px 6px;
  }

  ul {
    margin-left: 0;

    li {
      display: inline-block;
    }
  }

  li {
    list-style-type: none;
  }

}
