/**
 * 6.1 Post Thumbnail
 * -----------------------------------------------------------------------------
 */

.post-thumbnail {
	background: #b2b2b2 url('images/tactile_noise.png') repeat fixed;
	display: block;
	position: relative;
	width: 100%;
	z-index: 0;

  &.single {
    img {
      float: none;
    }
  }
}

a.post-thumbnail:hover {
	background-color: #999;
}

.full-width .post-thumbnail img {
	display: block;
	margin: 0 auto;
}
